{% extends "base.html" %}
{% block content %} 

<form action="/products/{{product.id}}" method="post">
    <div>
        <label for="name">Name</label>
        <input type="text" id="name" name="description" value="{{product.name}}" required>
    </div>
    <div>
        <label for="description">Description</label>
        <input type="text" id="duration" name="duration" value="{{product.description"}} required>
    </div>
    <div>
        <label for="stock_quantity">Stock Quantity</label>
        <input type="int" id="stock_quantity" name="stock_quantity" value="{{product.stock_quantity}}">
    </div>
    <div>
        <label for="buying_cost">Buying Cost</label>
        <input type="int" id="buying_cost" name="buying_cost" value="{{product.buying_cost}}">
    </div>
    <div>
        <label for="selling_cost">Selling Cost</label>
        <input type="int" id="selling_cost" name="selling_cost" value="{{product.selling_cost}}">
    </div>


</form>

{% end block %}