{% extends "base.html" %}

{% block content %}

<h1>Manufacturers</h1>

<p>Here are the lovely people that bring us cheese.</p>

{% for manufacturer in all_manufacturers %}

    <div class="manufacturers">
        <div class="name">
            {{ manufacturer.name }}
        <div class="location">
            {{ manufacturer.location }}
        <div class="payment_days">
            {{ manufacturer.payment_days }}
        </div>
        </div>
        </div>
    </div>

{% endfor %}

{% endblock %}

