{% extends "base.html" %}

{% block content %}

<h1>Manufacturers</h1>

<p>Here are the lovely people that bring us cheese.</p>

<table>
    <tr>
        <th>Name</th>
        <th></th>
        <th>Location</th>
        <th></th>
        <th>Payment Days</th>
        <th></th>
        <th>Payment Code</th>
    </tr>
    {% for manufacturer in all_manufacturers %}
    <tr>
        <td><a href="/manufacturers/{{ manufacturer.id }}">{{ manufacturer.name }}</a> </td>
        <td>|</td>
        <td>{{ manufacturer.location }}</td>
    
        <th>|</th>
        <td>{{ manufacturer.payment_days }}</td>
        <th>|</th>
        <td>{{ manufacturer.payment_code }}</td>
        <th>|</th>
        <td><a href="/manufacturer/{{ manufacturer.id }}">Edit</a></td>
        <th>|</th>
        <td><form action="/manufacturers/{{ manufacturer.id }}/delete" method="POST">
            <input class="btn btn--danger" type="submit" value="Delete">
        </td>
    </tr>
    
</tr>

{% endfor %}

</table>

<br>

<button>
<a href="/new_manfacturer">Add New Manufacturer</a>
</button>

{% endblock %}

