{% extends "base.html" %}

{% block content %} 

<h1>Different Cheeses We Got. None Are Made Up.</h1>

<table>

<tr>
    <th>Name</th>
    <th></th>
    <th>Description of t'cheese</th>
</tr>
{% for product in all_products %}
<tr>
    <td><a href=/product/{{ product.id }}>{{ product.name }}</a></td>
    <td>|</td>
    <td>{{ product.description }}</td>
    <td>|</td>
    <td><a href=/products/{{ product.id }}>Edit</a></td>
    <td>|</td>
    <td><form action="/products/{{ product.id }}/delete" method="POST">
        <input class="btn btn--danger" type="submit" value="Delete">
    </td>
</tr>


{% endfor %}

</table>

{% endblock %}